body {
    background: linear-gradient(180deg, #a3c6c4 1%, #435659 100%) 0 0 no-repeat padding-box;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 10vh 5vh 80vh 5vh;
}

body, h1 {
    margin: 0;
    font-family: Helvetica, Sans-Serif, serif;
}

h1 {
    color: #435659;
}


.logo {
    background: #e0e7e9  ;
    grid-column-start: 1;
    grid-column-end: end;
    grid-row-start: 1;
    grid-row-end: 2;

}

.container {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: end;

    padding: 10px;
    background-color: rgba(163, 198, 196, 0.2);
    border-radius: 15px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.table {
    border: #435659 1px solid;
    border-radius: 8px;
    width: 100%;
    background: rgba(224, 231, 233, 0.8) ;
}

th {
    margin: 10px;
    border: #435659 1px solid;
    border-radius: 5px;
    text-align: left;
    background: #a3c6c4;
    padding-left: 5px;
}

thead th {
    padding: 0.5em;
}

tbody td {
    margin: 10px;
    border: #435659 1px solid;
    border-radius: 5px;
    text-align: left;
    background: #a3c6c4;
    padding-left: 5px;
}

.menu {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: end;
}

.footer {
    background: rgba(224, 231, 233, 0.8) ;
    grid-column-start: 1;
    grid-column-end: end;
    grid-row-start: 4;
    grid-row-end: 5;
    padding: 2px 2px;
}

.footer-text {
    margin-left: 5px;
}

.left-menu {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: rgba(163, 198, 196, 0.2);
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
}

.user-data {
    padding-top: 20px;
    text-align: center;
    vertical-align: middle;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.text-right {
    text-align: right;
}

.text-bold {
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 10px 10px;
    padding: 0;
}

li a {
    border-radius: 1em;
    display: block;
    margin-top: 2px;
    display: block;
    border: 1px solid #435659;
    width: 100%;
    line-height:50px;
    background: #a3c6c4;
    text-align: center;
    align-content: center;
    text-decoration: #435659;
}

.button {
    background: #6c7a89;
    border: 1px solid #435659;
    border-radius: 1em;
    margin: 1em 1em;
    text-align: center;
    letter-spacing: 0.72px;
    color: #324041FF;
    padding: 0.2rem;
    width: 40%;
    max-width: 200px;
    box-shadow: 6px 5px 5px #435659;
}

.form-group {
    padding: 5px;
}

label {
    font-weight: bold;
    width: 150px;
    display:inline-block
}

input[type=text], input[type=password], .select, input[type=number] {
    background: transparent;
    width: 70%;
    padding: 12px 20px;
    margin: 1em 2em;
    /*box-sizing: border-box;*/
    border: none;
    border-bottom: 2px solid #6c7a89;
}

form {
    padding: 15px;
    border: #435659 1px solid;
    border-radius: 8px;
}

input.land {
    height: 20px;
}

.alert {
    padding: 5px;
    border-radius: 8px;
    background: #e0e7e9;
    margin-bottom: 10px;
}

.btn-message {
    float: right;
    margin-top: 2px;
    cursor: pointer;
}

.float-right {
    float: right;
}

.logout {
    padding: 10px 10px;
}

