body {
    background: linear-gradient(180deg, #a3c6c4 1%, #435659 100%) 0 0 no-repeat padding-box;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10vh 80vh 10vh;
}

body, h1 {
    margin: 0;
    font-family: Helvetica, Sans-Serif, serif;
}

h1 {
    color: #435659;
}


.logo {
    background: #e0e7e9  ;
    grid-column-start: 1;
    grid-column-end: end;
    grid-row-start: 1;
    grid-row-end: 2;

}



.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;


}

input[type=text], input[type=password] {
    background: transparent;
    width: 70%;
    padding: 12px 20px;
    margin: 1em 2em;
    /*box-sizing: border-box;*/
    border: none;
    border-bottom: 2px solid #6c7a89;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 35vh;


    border-radius: 10px;
    background: #a3c6c4 no-repeat padding-box;
    box-shadow: 0 6px 6px #00000029;
}

.button {
    background: #6c7a89;
    border: 1px solid #435659;
    border-radius: 1em;
    margin: 1em 1em;
    text-align: center;
    letter-spacing: 0.72px;
    color: #324041FF;
    padding: 0.2rem;
    width: 40%;
    box-shadow: 6px 5px 5px #435659;
}

.register {

    text-align: center;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
